@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    /* user-select: none; */
  }

  html,
  body,
  #root,
  .app {
    height: 100vh;
    width: 100%;
    @apply font-lexend text-base;
  }

  html {
    --font-inter: "Inter", sans-serif;
  }

  :root {
    --color-primary: #111827;
    --color-secondary: #f2f8ff;
    --color-main: #2d70ff;
    --color-dark: #151517;
  }

  h1 {
    @apply text-5xl font-semibold leading-tight;
  }

  h2 {
    @apply text-4xl font-bold leading-snug;
  }

  h3 {
    @apply text-3xl font-semibold leading-snug;
  }

  h4 {
    @apply text-xl font-medium leading-snug;
  }

  h5 {
    @apply text-lg font-medium leading-snug;
  }

  h6 {
    @apply text-base font-medium leading-snug;
  }
}

@layer utilities {
  .page {
    @apply lg:p-6 xl:p-4;
  }

  .padding {
    @apply px-4 py-5;
  }

  .center {
    @apply flex items-center justify-center;
  }

  .opacityBg {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.05), transparent);
  }

  .input {
    @apply rounded border-2 bg-white;
  }
  .card {
    @apply hover:border hover:border-black;
  }
  .textDark {
    @apply text-primary dark:text-secondary;
  }
  .borderDark {
    @apply border-primary dark:border-secondary;
  }
}

/* Scrollbar Track */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.tiptap {
  /* list styles */
  ul,
  ol {
    list-style-type: none;
    padding: 0.1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
  }

  ul li {
    list-style-type: disc;
    p {
      margin-bottom: 0.25em;
      margin-top: 0.25em;
    }
  }
  ol li {
    list-style-type: decimal;
    p {
      margin-bottom: 0.25em;
      margin-top: 0.25em;
    }
  }

  /* Task list specific styles */
  ul[data-type="taskList"] {
    list-style: none;
    margin-left: 0;
    padding: 0;

    li {
      align-items: flex-start;
      display: flex;

      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }

      > div {
        flex: 1 1 auto;
      }
    }

    input[type="checkbox"] {
      cursor: pointer;
    }

    ul[data-type="taskList"] {
      margin: 0;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Table-specific styling */
  table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;

    td,
    th {
      border: 1px solid #000000;
      box-sizing: border-box;
      min-width: 1em;
      padding: 6px 8px;
      position: relative;
      vertical-align: top;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      background-color: #d2d2ff;
      font-weight: bold;
      text-align: left;
    }

    .selectedCell:after {
      background: #afafff;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      pointer-events: none;
      position: absolute;
      z-index: 2;
    }

    .column-resize-handle {
      background-color: #ffd2ff;
      bottom: -2px;
      pointer-events: none;
      position: absolute;
      right: -2px;
      top: 0;
      width: 4px;
    }
  }

  .tableWrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
  }

  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }

  img {
    display: block;
    height: auto;
    margin: 1.5rem 0;
    max-width: 100%;
    &.ProseMirror-selectednode {
      outline: 3px solid #ffcdff;
    }
  }

  /* Link styles */
  a {
    color: #1515ff;
    cursor: pointer;
    /* text-decoration: underline; */

    &:hover {
      color: #0000ca;
    }
  }
}

.cl-headerTitle {
  @apply py-3 text-2xl font-normal text-green-50;
}

.cl-internal-n8erpa[data-variant="solid"][data-color="primary"] {
  @apply py-2 shadow-none;
}

.cl-userButtonPopoverCard {
  @apply bg-white dark:bg-blue-950;
}

.cl-userButtonPopoverFooter,
.cl-footer,
.cl-internal-1dauvpw {
  @apply hidden;
}

.cl-scrollBox,
.cl-cardBox {
  @apply textDark rounded border-none bg-white font-lexend dark:bg-primary !important;
}

.cl-internal-13u79ez {
  @apply bg-none;
}

.cl-header {
  @apply textDark;
}

.dark .cl-internal-13lvar6 {
  background: #111827;
}

.cl-navbarButton {
  @apply textDark;
}

.cl-userButtonPopoverMain {
  @apply textDark bg-white dark:bg-primary;
}

.cl-internal-pp7u0o,
.cl-headerTitle {
  @apply textDark;
}
.cl-internal-1lldyk3 {
  @apply textDark;
}
